@page "/add-user-log"
@layout MainLayout
@inherits RadzenDh5.Pages.AddUserLogComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<AddUserLog> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@userlog" Visible="@(userlog != null)" TItem="RadzenDh5.Models.Mark10Sqlexpress04.UserLog" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["LOG_DATE"]" Component="LOG_DATE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="20" style="display: block; width: 100%" @bind-Value="@(userlog.LOG_DATE)" Name="LOG_DATE">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="LOG_DATE" Text="@L["LOG_DATERequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["LOG_TYPE"]" Component="LOG_TYPE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="2" style="display: block; width: 100%" @bind-Value="@(userlog.LOG_TYPE)" Name="LOG_TYPE">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="LOG_TYPE" Text="@L["LOG_TYPERequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["USER_ID"]" Component="USER_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="20" style="display: block; width: 100%" @bind-Value="@(userlog.USER_ID)" Name="USER_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="USER_ID" Text="@L["USER_IDRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["PROG_ID"]" Component="PROG_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(userlog.PROG_ID)" Name="PROG_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PROG_ID" Text="@L["PROG_IDRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["PROG_NAME"]" Component="PROG_NAME" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(userlog.PROG_NAME)" Name="PROG_NAME">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PROG_NAME" Text="@L["PROG_NAMERequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["DEPT_NAME"]" Component="DEPT_NAME" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(userlog.DEPT_NAME)" Name="DEPT_NAME">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["USER_NAME"]" Component="USER_NAME" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(userlog.USER_NAME)" Name="USER_NAME">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="USER_NAME" Text="@L["USER_NAMERequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["REMARK"]" Component="REMARK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(userlog.REMARK)" Name="REMARK">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["Save"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["Cancel"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
