@page "/DH_USER_LOG"
@layout MainLayout
@inherits RadzenDh5.Pages.UserLogsComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H3" Text="@L["DH_USER_LOG"]">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        @*<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="@L["Create"]" Click="@Button0Click">
        </RadzenButton>*@
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="@L["splitbutton0.excel.Text"]" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="@L["splitbutton0.csv.Text"]" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenGrid @ref="grid0" ColumnWidth="125px" AllowColumnResize="true" PagerPosition="PagerPosition.Top" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getUserLogsResult" TItem="RadzenDh5.Models.Mark10Sqlexpress04.UserLog" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.UserLog" Property="LOG_DATE" Title="LOG_DATE">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.UserLog" Property="LOG_TYPE" Title="LOG_TYPE">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.UserLog" Property="USER_ID" Title="USER_ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.UserLog" Property="PROG_ID" Title="PROG_ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.UserLog" Property="PROG_NAME" Title="PROG_NAME">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.UserLog" Property="DEPT_NAME" Title="DEPT_NAME">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.UserLog" Property="USER_NAME" Title="USER_NAME">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.UserLog" Property="REMARK" Title="REMARK">
            </RadzenGridColumn>
           
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
