@*@page "/dialogbasic/{OrderID}"*@

@inject Radzen.DialogService dialogService



<div class="row">
    <div class="col-md-12">
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h1" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v1">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h2" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v2">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h3" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v3">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h4" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v4">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h5" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v5">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h6" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v6">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h7" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v7">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h8" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v8">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h9" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v9">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h10" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v10">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h11" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v11">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h12" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v12">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h13" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v13">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h14" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v14">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h15" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v15">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h16" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v16">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h17" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v17">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h18" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v18">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h19" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v19">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h20" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v20">
                </RadzenTextBox>
            </div>
        </div>
        <div style="margin-bottom: 1rem" class="row">
            <div class="col-md-3">
                <RadzenLabel Text="@h21" style="width: 100%">
                </RadzenLabel>
            </div>
            <div class="col-md-9">
                <RadzenTextBox ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@v21">
                </RadzenTextBox>
            </div>
        </div>
       
    </div>
</div>



<div class="row">
    <div class="col offset-md-3">
        <RadzenButton Click="@Button2Click" Text="OK" Style="" />

    </div>
</div>




@code { //
    protected async System.Threading.Tasks.Task Button2Click(MouseEventArgs args)
    {
        dialogService.Close(null);
    }
    //      Message2
    //[Parameter] public string Message2 { get; set; }
    [Parameter] public string h1 { get; set; }
    [Parameter] public string v1 { get; set; }
    [Parameter] public string h2 { get; set; }
    [Parameter] public string v2 { get; set; }
    [Parameter] public string h3 { get; set; }
    [Parameter] public string v3 { get; set; }
    [Parameter] public string h4 { get; set; }
    [Parameter] public string v4 { get; set; }
    [Parameter] public string h5 { get; set; }
    [Parameter] public string v5 { get; set; }
    [Parameter] public string h6 { get; set; }
    [Parameter] public string v6 { get; set; }
    [Parameter] public string h7 { get; set; }
    [Parameter] public string v7 { get; set; }
    [Parameter] public string h8 { get; set; }
    [Parameter] public string v8 { get; set; }
    [Parameter] public string h9 { get; set; }
    [Parameter] public string v9 { get; set; }
    [Parameter] public string h10 { get; set; }
    [Parameter] public string v10 { get; set; }
    [Parameter] public string h11 { get; set; }
    [Parameter] public string v11 { get; set; }
    [Parameter] public string h12 { get; set; }
    [Parameter] public string v12 { get; set; }
    [Parameter] public string h13 { get; set; }
    [Parameter] public string v13 { get; set; }
    [Parameter] public string h14 { get; set; }
    [Parameter] public string v14 { get; set; }
    [Parameter] public string h15 { get; set; }
    [Parameter] public string v15 { get; set; }
    [Parameter] public string h16 { get; set; }
    [Parameter] public string v16 { get; set; }
    [Parameter] public string h17 { get; set; }
    [Parameter] public string v17 { get; set; }
    [Parameter] public string h18 { get; set; }
    [Parameter] public string v18 { get; set; }
    [Parameter] public string h19 { get; set; }
    [Parameter] public string v19 { get; set; }
    [Parameter] public string h20 { get; set; }
    [Parameter] public string v20 { get; set; }
    [Parameter] public string h21 { get; set; }
    [Parameter] public string v21 { get; set; }
  }
