
@layout MainLayout
@inherits RadzenDh5.Pages.EditC040PicDtlComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<EditPicDtl> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Data="@picdtl" Visible="@(picdtl != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("WHSE_NO")  Component="WHSE_NO" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picdtl.WHSE_NO)" Name="WHSE_NO"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="WHSE_NO" Text="@L["WHSE_NORequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("PIC_NO")  Component="PIC_NO" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="30" style="display: block; width: 100%" @bind-Value="@(picdtl.PIC_NO)" Name="PIC_NO"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PIC_NO" Text="@L["PIC_NORequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("PIC_LINE")  Component="PIC_LINE" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picdtl.PIC_LINE)" Name="PIC_LINE"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PIC_LINE" Text="@L["PIC_LINERequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("STGE_TYPE")  Component="STGE_TYPE" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="width: 100%" @bind-Value="@(picdtl.STGE_TYPE)" Name="STGE_TYPE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("STGE_BIN")  Component="STGE_BIN" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picdtl.STGE_BIN)" Name="STGE_BIN"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("SU_ID")  Component="SU_ID" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="display: block; width: 100%" @bind-Value="@(picdtl.SU_ID)" Name="SU_ID"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="SU_ID" Text="@L["SU_IDRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("PLANT")  Component="PLANT" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picdtl.PLANT)" Name="PLANT"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PLANT" Text="@L["PLANTRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("STGE_LOC")  Component="STGE_LOC" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picdtl.STGE_LOC)" Name="STGE_LOC"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="STGE_LOC" Text="@L["STGE_LOCRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("SKU_NO")  Component="SKU_NO" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="30" style="display: block; width: 100%" @bind-Value="@(picdtl.SKU_NO)" Name="SKU_NO"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="SKU_NO" Text="@L["SKU_NORequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("BATCH_NO")  Component="BATCH_NO" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="30" style="width: 100%" @bind-Value="@(picdtl.BATCH_NO)" Name="BATCH_NO"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("COUNT_USER")  Component="COUNT_USER" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="50" style="width: 100%" @bind-Value="@(picdtl.COUNT_USER)" Name="COUNT_USER"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("COUNT_QTY")  Component="COUNT_QTY" style="width: 100%; background-color:antiquewhite"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%; background-color: antiquewhite" @bind-Value="@(picdtl.COUNT_QTY)" Name="COUNT_QTY">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("COUNT_UNIT")  Component="COUNT_UNIT" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="width: 100%" @bind-Value="@(picdtl.COUNT_UNIT)" Name="COUNT_UNIT"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("WMSLOC_IND")  Component="WMSLOC_IND" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.WMSLOC_IND)" Name="WMSLOC_IND"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REASON1")  Component="REASON1" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.REASON1)" Name="REASON1"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REASON2")  Component="REASON2" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.REASON2)" Name="REASON2"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REASON3")  Component="REASON3" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.REASON3)" Name="REASON3"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REASON4")  Component="REASON4" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.REASON4)" Name="REASON4"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REASON5")  Component="REASON5" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.REASON5)" Name="REASON5"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REASON6")  Component="REASON6" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.REASON6)" Name="REASON6"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REASON7")  Component="REASON7" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.REASON7)" Name="REASON7"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REASON8")  Component="REASON8" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.REASON8)" Name="REASON8"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REASON9")  Component="REASON9" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.REASON9)" Name="REASON9"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REASON10")  Component="REASON10" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.REASON10)" Name="REASON10"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("BATCH_IND")  Component="BATCH_IND" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.BATCH_IND)" Name="BATCH_IND"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("SERIAL_IND")  Component="SERIAL_IND" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.SERIAL_IND)" Name="SERIAL_IND"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("START_DATE")  Component="START_DATE" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picdtl.START_DATE)" Name="START_DATE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("END_DATE")  Component="END_DATE" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picdtl.END_DATE)" Name="END_DATE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("PIC_STS")  Component="PIC_STS" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.PIC_STS)" Name="PIC_STS"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("REMARK")  Component="REMARK" style="width: 100%; background-color:antiquewhite"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  style="width: 100%; background-color: antiquewhite" @bind-Value="@(picdtl.REMARK)" Name="REMARK"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("SOURCE")  Component="SOURCE" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.SOURCE)" Name="SOURCE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("APPROVE_IND")  Component="APPROVE_IND" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picdtl.APPROVE_IND)" Name="APPROVE_IND"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("TRN_USER")  Component="TRN_USER" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(picdtl.TRN_USER)" ReadOnly="true" Name="TRN_USER">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TRN_USER" Text="@L["TRN_USERRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("TRN_DATE")  Component="TRN_DATE" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="20" style="width: 100%" @bind-Value="@(picdtl.TRN_DATE)" ReadOnly="true" Name="TRN_DATE">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("CRT_USER")  Component="CRT_USER" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(picdtl.CRT_USER)" ReadOnly="true" Name="CRT_USER">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="CRT_USER" Text="@L["CRT_USERRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("CRT_DATE")  Component="CRT_DATE" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="20" style="width: 100%" @bind-Value="@(picdtl.CRT_DATE)" ReadOnly="true" Name="CRT_DATE">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["Save"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["Cancel"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
