@layout MainLayout
@inherits RadzenDh5.Pages.EditC040PicSnoComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicSno" Data="@picsno" Visible="@(picsno != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Whse No" Component="WHSE_NO" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picsno.WHSE_NO)" Name="WHSE_NO"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="WHSE_NO" Text="WHSE_NO is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Pic No" Component="PIC_NO" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="30" style="display: block; width: 100%" @bind-Value="@(picsno.PIC_NO)" Name="PIC_NO"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PIC_NO" Text="PIC_NO is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Pic Line" Component="PIC_LINE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picsno.PIC_LINE)" Name="PIC_LINE"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PIC_LINE" Text="PIC_LINE is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Stge Type" Component="STGE_TYPE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="width: 100%" @bind-Value="@(picsno.STGE_TYPE)" Name="STGE_TYPE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Stge Bin" Component="STGE_BIN" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picsno.STGE_BIN)" Name="STGE_BIN"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Su Id" Component="SU_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="display: block; width: 100%" @bind-Value="@(picsno.SU_ID)" Name="SU_ID"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="SU_ID" Text="SU_ID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Plant" Component="PLANT" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picsno.PLANT)" Name="PLANT"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PLANT" Text="PLANT is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Stge Loc" Component="STGE_LOC" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picsno.STGE_LOC)" Name="STGE_LOC"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="STGE_LOC" Text="STGE_LOC is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Sku No" Component="SKU_NO" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="30" style="display: block; width: 100%" @bind-Value="@(picsno.SKU_NO)" Name="SKU_NO"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="SKU_NO" Text="SKU_NO is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Batch No" Component="BATCH_NO" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="30" style="width: 100%" @bind-Value="@(picsno.BATCH_NO)" Name="BATCH_NO"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="In Sno" Component="IN_SNO" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="50" style="display: block; width: 100%" @bind-Value="@(picsno.IN_SNO)" Name="IN_SNO"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="IN_SNO" Text="IN_SNO is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Gtin Unit" Component="GTIN_UNIT" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picsno.GTIN_UNIT)" Name="GTIN_UNIT"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="GTIN_UNIT" Text="GTIN_UNIT is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Gtin Qty" Component="GTIN_QTY" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(picsno.GTIN_QTY)" Name="GTIN_QTY">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Sku Unit" Component="SKU_UNIT" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="width: 100%" @bind-Value="@(picsno.SKU_UNIT)" Name="SKU_UNIT"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Sku Qty" Component="SKU_QTY" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(picsno.SKU_QTY)" Name="SKU_QTY">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Count Unit" Component="COUNT_UNIT" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picsno.COUNT_UNIT)" Name="COUNT_UNIT"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="COUNT_UNIT" Text="COUNT_UNIT is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Count Qty" Component="COUNT_QTY" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(picsno.COUNT_QTY)" Name="COUNT_QTY">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Count User" Component="COUNT_USER" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picsno.COUNT_USER)" Name="COUNT_USER"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Count Date" Component="COUNT_DATE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picsno.COUNT_DATE)" Name="COUNT_DATE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Approve User" Component="APPROVE_USER" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="50" style="width: 100%" @bind-Value="@(picsno.APPROVE_USER)" Name="APPROVE_USER"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Approve Date" Component="APPROVE_DATE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picsno.APPROVE_DATE)" Name="APPROVE_DATE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Start Date" Component="START_DATE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picsno.START_DATE)" Name="START_DATE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="End Date" Component="END_DATE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picsno.END_DATE)" Name="END_DATE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Pic Sts" Component="PIC_STS" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picsno.PIC_STS)" Name="PIC_STS"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Remark" Component="REMARK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  style="width: 100%" @bind-Value="@(picsno.REMARK)" Name="REMARK"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Source" Component="SOURCE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picsno.SOURCE)" Name="SOURCE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Approve Ind" Component="APPROVE_IND" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="1" style="width: 100%" @bind-Value="@(picsno.APPROVE_IND)" Name="APPROVE_IND"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Trn User" Component="TRN_USER" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="50" style="display: block; width: 100%" @bind-Value="@(picsno.TRN_USER)" Name="TRN_USER"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TRN_USER" Text="TRN_USER is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Trn Date" Component="TRN_DATE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picsno.TRN_DATE)" Name="TRN_DATE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Crt User" Component="CRT_USER" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="50" style="display: block; width: 100%" @bind-Value="@(picsno.CRT_USER)" Name="CRT_USER"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="CRT_USER" Text="CRT_USER is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Crt Date" Component="CRT_DATE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="20" style="width: 100%" @bind-Value="@(picsno.CRT_DATE)" Name="CRT_DATE"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="In No" Component="IN_NO" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="30" style="display: block; width: 100%" @bind-Value="@(picsno.IN_NO)" Name="IN_NO"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="IN_NO" Text="IN_NO is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="In Line" Component="IN_LINE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="30" style="display: block; width: 100%" @bind-Value="@(picsno.IN_LINE)" Name="IN_LINE"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="IN_LINE" Text="IN_LINE is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
