@page "/edit-equ-trn-log/{TrnDT}/{CmdSno}/{EquNo}/{CmdMode}"
@layout MainLayout
@inherits RadzenDh5.Pages.EditEquTrnLogComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<EditEquTrnLog> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquTrnLog" Data="@equtrnlog" Visible="@(equtrnlog != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["TrnDT"]" Component="TrnDT" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="30" style="display: block; width: 100%" @bind-Value="@(equtrnlog.TrnDT)" Name="TrnDT">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TrnDT" Text="@L["TrnDTRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CmdSts"]" Component="CmdSts" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="1" style="width: 100%" @bind-Value="@(equtrnlog.CmdSts)" Name="CmdSts">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["Source"]" Component="Source" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="7" style="width: 100%" @bind-Value="@(equtrnlog.Source)" Name="Source">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["Destination"]" Component="Destination" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="7" style="width: 100%" @bind-Value="@(equtrnlog.Destination)" Name="Destination">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["LocSize"]" Component="LocSize" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="3" style="width: 100%" @bind-Value="@(equtrnlog.LocSize)" Name="LocSize">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CompleteCode"]" Component="CompleteCode" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="5" style="width: 100%" @bind-Value="@(equtrnlog.CompleteCode)" Name="CompleteCode">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CompleteIndex"]" Component="CompleteIndex" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="5" style="width: 100%" @bind-Value="@(equtrnlog.CompleteIndex)" Name="CompleteIndex">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CarNo"]" Component="CarNo" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="2" style="width: 100%" @bind-Value="@(equtrnlog.CarNo)" Name="CarNo">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["TrnUserID"]" Component="TrnUserID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="20" style="display: block; width: 100%" @bind-Value="@(equtrnlog.TrnUserID)" Name="TrnUserID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TrnUserID" Text="@L["TrnUserIDRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["TrnDesc"]" Component="TrnDesc" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="200" style="width: 100%" @bind-Value="@(equtrnlog.TrnDesc)" Name="TrnDesc">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["Save"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["Cancel"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
