@page "/edit-alarm-def/{AlarmCode}"
@layout MainLayout
@inherits RadzenDh5.Pages.EditAlarmDefComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<EditAlarmDef> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="RadzenDh5.Models.Mark10Sqlexpress04.AlarmDef" Data="@alarmdef" Visible="@(alarmdef != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["AlarmCode"]" Component="AlarmCode" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(alarmdef.AlarmCode)" Name="AlarmCode">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="AlarmCode" Text="@L["AlarmCodeRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["AlarmLevel"]" Component="AlarmLevel" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="1" style="width: 100%" @bind-Value="@(alarmdef.AlarmLevel)" Name="AlarmLevel">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["AlarmDesc"]" Component="AlarmDesc" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(alarmdef.AlarmDesc)" Name="AlarmDesc">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["AlarmDesc_EN"]" Component="AlarmDesc_EN" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(alarmdef.AlarmDesc_EN)" Name="AlarmDesc_EN">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["SelectFlag"]" Component="SelectFlag" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="1" style="width: 100%" @bind-Value="@(alarmdef.SelectFlag)" Name="SelectFlag">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["Save"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["Cancel"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
