
@layout MainLayout
@inherits RadzenDh5.Pages.EditPicMstComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<EditPicMst> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicMst" Data="@picmst" Visible="@(picmst != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["WHSE_NO"]" Component="WHSE_NO" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picmst.WHSE_NO)" Name="WHSE_NO">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="WHSE_NO" Text="@L["WHSE_NORequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["PIC_NO"]" Component="PIC_NO" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="30" style="display: block; width: 100%" @bind-Value="@(picmst.PIC_NO)" Name="PIC_NO">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PIC_NO" Text="@L["PIC_NORequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["PIC_GROUP"]" Component="PIC_GROUP" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picmst.PIC_GROUP)" Name="PIC_GROUP">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PIC_GROUP" Text="@L["PIC_GROUPRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["PIC_TYPE"]" Component="PIC_TYPE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picmst.PIC_TYPE)" Name="PIC_TYPE">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PIC_TYPE" Text="@L["PIC_TYPERequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["PLANT"]" Component="PLANT" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picmst.PLANT)" Name="PLANT">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PLANT" Text="@L["PLANTRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["STGE_LOC"]" Component="STGE_LOC" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picmst.STGE_LOC)" Name="STGE_LOC">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="STGE_LOC" Text="@L["STGE_LOCRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["COUNT_USER"]" Component="COUNT_USER" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(picmst.COUNT_USER)" Name="COUNT_USER">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="COUNT_USER" Text="@L["COUNT_USERRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["SHELF"]" Component="SHELF" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picmst.SHELF)" Name="SHELF">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="SHELF" Text="@L["SHELFRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CREATEUSER"]" Component="CREATEUSER" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(picmst.CREATEUSER)" Name="CREATEUSER">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="CREATEUSER" Text="@L["CREATEUSERRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CREATEDATE"]" Component="CREATEDATE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picmst.CREATEDATE)" Name="CREATEDATE">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="CREATEDATE" Text="@L["CREATEDATERequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CREATETIME"]" Component="CREATETIME" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(picmst.CREATETIME)" Name="CREATETIME">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="CREATETIME" Text="@L["CREATETIMERequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["PIC_STS"]" Component="PIC_STS" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="1" style="width: 100%" @bind-Value="@(picmst.PIC_STS)" Name="PIC_STS">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["REMARK"]" Component="REMARK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(picmst.REMARK)" Name="REMARK">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["SOURCE"]" Component="SOURCE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="1" style="width: 100%" @bind-Value="@(picmst.SOURCE)" Name="SOURCE">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["APPROVE_IND"]" Component="APPROVE_IND" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="1" style="width: 100%" @bind-Value="@(picmst.APPROVE_IND)" Name="APPROVE_IND">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["TRN_USER"]" Component="TRN_USER" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(picmst.TRN_USER)" ReadOnly="true" Name="TRN_USER">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TRN_USER" Text="@L["TRN_USERRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["TRN_DATE"]" Component="TRN_DATE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="20" style="width: 100%" @bind-Value="@(picmst.TRN_DATE)" ReadOnly="true" Name="TRN_DATE">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CRT_USER"]" Component="CRT_USER" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(picmst.CRT_USER)" ReadOnly="true" Name="CRT_USER">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="CRT_USER" Text="@L["CRT_USERRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="@L["CRT_DATE"]" Component="CRT_DATE" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="20" style="width: 100%" @bind-Value="@(picmst.CRT_DATE)" ReadOnly="true" Name="CRT_DATE">
                </RadzenTextBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@L["Save"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="@L["Cancel"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
