@page "/equ-cmd-detail-logs"
@layout MainLayout
@inherits RadzenDh5.Pages.EquCmdDetailLogsComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<EquCmdDetailLogs> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H3" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="@L["Create"]" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="@L["splitbutton0.Text"]" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="@L["splitbutton0.excel.Text"]" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="@L["splitbutton0.csv.Text"]" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getEquCmdDetailLogsResult" TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="LogDT" Title="@L["grid0.LogDT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="CmdSno" Title="@L["grid0.CmdSno.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="EquNo" Title="@L["grid0.EquNo.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="CmdMode" Title="@L["grid0.CmdMode.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="FBank" Title="@L["grid0.FBank.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="FBayLevel" Title="@L["grid0.FBayLevel.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="TBank" Title="@L["grid0.TBank.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="TBayLevel" Title="@L["grid0.TBayLevel.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="TransferInfo" Title="@L["grid0.TransferInfo.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="WriteBuffer" Title="@L["grid0.WriteBuffer.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="WritePLC" Title="@L["grid0.WritePLC.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="StartAction" Title="@L["grid0.StartAction.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="Cycle1" Title="@L["grid0.Cycle1.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="Fork1" Title="@L["grid0.Fork1.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="LoadPresence_On" Title="@L["grid0.LoadPresence_On.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="CSTPresence_On" Title="@L["grid0.CSTPresence_On.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="Cycle2" Title="@L["grid0.Cycle2.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="Fork2" Title="@L["grid0.Fork2.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="LoadPresence_Off" Title="@L["grid0.LoadPresence_Off.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="CSTPresence_Off" Title="@L["grid0.CSTPresence_Off.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="CmdFinish" Title="@L["grid0.CmdFinish.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="CompleteCode" Title="@L["grid0.CompleteCode.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="PLCTimerCount" Title="@L["grid0.PLCTimerCount.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Property="Notes" Title="@L["grid0.Notes.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.EquCmdDetailLog" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="radzenDh5ModelsMark10Sqlexpress04EquCmdDetailLog">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radzenDh5ModelsMark10Sqlexpress04EquCmdDetailLog))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
