@page "/in-mst-his"
@layout MainLayout
@inherits RadzenDh5.Pages.InMstHisComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<InMstHis> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H3" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenSplitButton Icon="get_app" style="margin-left: 0px; margin-bottom: 10px" Text="@L["splitbutton0.Text"]" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="@L["splitbutton0.excel.Text"]" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="@L["splitbutton0.csv.Text"]" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getInMstHisResult" TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi">
          <Columns>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="WHSE_NO" Title="@L["grid0.WHSE_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="IN_NO" Title="@L["grid0.IN_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="HEADER_STS" Title="@L["grid0.HEADER_STS.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="SHIP_TYPE" Title="@L["grid0.SHIP_TYPE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="PRIORITY" Title="@L["grid0.PRIORITY.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="HEADER_TEXT" Title="@L["grid0.HEADER_TEXT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="REQM_NO" Title="@L["grid0.REQM_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="REQM_TYPE" Title="@L["grid0.REQM_TYPE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="MOVM_TYPE" Title="@L["grid0.MOVM_TYPE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="STGE_TYPE_FROM" Title="@L["grid0.STGE_TYPE_FROM.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="STGE_BIN_FROM" Title="@L["grid0.STGE_BIN_FROM.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="DYNAMIC_IND_FROM" Title="@L["grid0.DYNAMIC_IND_FROM.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="STGE_TYPE_TO" Title="@L["grid0.STGE_TYPE_TO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="STGE_BIN_TO" Title="@L["grid0.STGE_BIN_TO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="DYNAMIC_IND_TO" Title="@L["grid0.DYNAMIC_IND_TO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="PLAN_DATE" Title="@L["grid0.PLAN_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="TRN_NO" Title="@L["grid0.TRN_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="TRN_YEAR" Title="@L["grid0.TRN_YEAR.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="ITEM_COUNT" Title="@L["grid0.ITEM_COUNT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="GROSS_WEIGHT" Title="@L["grid0.GROSS_WEIGHT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="NET_WEIGHT" Title="@L["grid0.NET_WEIGHT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="WEIGHT_UNIT" Title="@L["grid0.WEIGHT_UNIT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="VOLUME" Title="@L["grid0.VOLUME.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="VOLUME_UNIT" Title="@L["grid0.VOLUME_UNIT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="IN_STS" Title="@L["grid0.IN_STS.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="SOURCE" Title="@L["grid0.SOURCE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="APPROVE_IND" Title="@L["grid0.APPROVE_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="REMARK" Title="@L["grid0.REMARK.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="TRN_USER" Title="@L["grid0.TRN_USER.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="TRN_DATE" Title="@L["grid0.TRN_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="CRT_USER" Title="@L["grid0.CRT_USER.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="CRT_DATE" Title="@L["grid0.CRT_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="LOG_DATE" Title="@L["grid0.LOG_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.InMstHi" Property="LOG_USER" Title="@L["grid0.LOG_USER.Title"]">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
