@page "/pck-dtl-his"
@layout MainLayout
@inherits RadzenDh5.Pages.PckDtlHisComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<PckDtlHis> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H3" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenSplitButton Icon="get_app" style="margin-left: 0px; margin-bottom: 10px" Text="@L["splitbutton0.Text"]" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="@L["splitbutton0.excel.Text"]" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="@L["splitbutton0.csv.Text"]" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getPckDtlHisResult" TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi">
          <Columns>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="WHSE_NO" Title="@L["grid0.WHSE_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="PCK_NO" Title="@L["grid0.PCK_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="PCK_LINE" Title="@L["grid0.PCK_LINE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="SU_ID" Title="@L["grid0.SU_ID.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="SU_ID_TO" Title="@L["grid0.SU_ID_TO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="SU_TYPE" Title="@L["grid0.SU_TYPE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="LOC_NO" Title="@L["grid0.LOC_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="PLANT" Title="@L["grid0.PLANT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="STGE_LOC" Title="@L["grid0.STGE_LOC.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="SKU_NO" Title="@L["grid0.SKU_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="BATCH_NO" Title="@L["grid0.BATCH_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="STK_CAT" Title="@L["grid0.STK_CAT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="STK_SPECIAL_IND" Title="@L["grid0.STK_SPECIAL_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="STK_SPECIAL_NO" Title="@L["grid0.STK_SPECIAL_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="ALO_NO" Title="@L["grid0.ALO_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="ALO_LINE" Title="@L["grid0.ALO_LINE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="GTIN_UNIT" Title="@L["grid0.GTIN_UNIT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="GTIN_ALO_QTY" Title="@L["grid0.GTIN_ALO_QTY.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="GTIN_FIN_QTY" Title="@L["grid0.GTIN_FIN_QTY.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="SKU_UNIT" Title="@L["grid0.SKU_UNIT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="SKU_ALO_QTY" Title="@L["grid0.SKU_ALO_QTY.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="SKU_FIN_QTY" Title="@L["grid0.SKU_FIN_QTY.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="PCK_USER" Title="@L["grid0.PCK_USER.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="PCK_DATE" Title="@L["grid0.PCK_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="PCK_STS" Title="@L["grid0.PCK_STS.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="APPROVE_IND" Title="@L["grid0.APPROVE_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="REMARK" Title="@L["grid0.REMARK.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="TRN_USER" Title="@L["grid0.TRN_USER.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="TRN_DATE" Title="@L["grid0.TRN_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="CRT_USER" Title="@L["grid0.CRT_USER.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="CRT_DATE" Title="@L["grid0.CRT_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="LOG_DATE" Title="@L["grid0.LOG_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PckDtlHi" Property="LOG_USER" Title="@L["grid0.LOG_USER.Title"]">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
