@page "/pic-dtls"
@layout MainLayout
@inherits RadzenDh5.Pages.PicDtlsComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<PicDtls> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H3" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="@L["Create"]" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="@L["splitbutton0.Text"]" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="@L["splitbutton0.excel.Text"]" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="@L["splitbutton0.csv.Text"]" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getPicDtlsResult" TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="WHSE_NO" Title="@L["grid0.WHSE_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="PIC_NO" Title="@L["grid0.PIC_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="PIC_LINE" Title="@L["grid0.PIC_LINE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="STGE_TYPE" Title="@L["grid0.STGE_TYPE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="STGE_BIN" Title="@L["grid0.STGE_BIN.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="SU_ID" Title="@L["grid0.SU_ID.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="PLANT" Title="@L["grid0.PLANT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="STGE_LOC" Title="@L["grid0.STGE_LOC.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="SKU_NO" Title="@L["grid0.SKU_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="BATCH_NO" Title="@L["grid0.BATCH_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="COUNT_USER" Title="@L["grid0.COUNT_USER.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="COUNT_QTY" Title="@L["grid0.COUNT_QTY.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="COUNT_UNIT" Title="@L["grid0.COUNT_UNIT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="WMSLOC_IND" Title="@L["grid0.WMSLOC_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REASON1" Title="@L["grid0.REASON1.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REASON2" Title="@L["grid0.REASON2.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REASON3" Title="@L["grid0.REASON3.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REASON4" Title="@L["grid0.REASON4.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REASON5" Title="@L["grid0.REASON5.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REASON6" Title="@L["grid0.REASON6.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REASON7" Title="@L["grid0.REASON7.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REASON8" Title="@L["grid0.REASON8.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REASON9" Title="@L["grid0.REASON9.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REASON10" Title="@L["grid0.REASON10.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="BATCH_IND" Title="@L["grid0.BATCH_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="SERIAL_IND" Title="@L["grid0.SERIAL_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="START_DATE" Title="@L["grid0.START_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="END_DATE" Title="@L["grid0.END_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="PIC_STS" Title="@L["grid0.PIC_STS.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="REMARK" Title="@L["grid0.REMARK.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="SOURCE" Title="@L["grid0.SOURCE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="APPROVE_IND" Title="@L["grid0.APPROVE_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="TRN_USER" Title="@L["grid0.TRN_USER.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="TRN_DATE" Title="@L["grid0.TRN_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="CRT_USER" Title="@L["grid0.CRT_USER.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Property="CRT_DATE" Title="@L["grid0.CRT_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.PicDtl" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="radzenDh5ModelsMark10Sqlexpress04PicDtl">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radzenDh5ModelsMark10Sqlexpress04PicDtl))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
