@page "/sku-mst-his"
@layout MainLayout
@inherits RadzenDh5.Pages.SkuMstHisComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject Microsoft.Extensions.Localization.IStringLocalizer<SkuMstHis> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H3" Text="@L["pageTitle.Text"]">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenSplitButton Icon="get_app" style="margin-left: 0px; margin-bottom: 10px" Text="@L["splitbutton0.Text"]" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="@L["splitbutton0.excel.Text"]" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="@L["splitbutton0.csv.Text"]" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getSkuMstHisResult" TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi">
          <Columns>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_NO" Title="@L["grid0.SKU_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="EAN13_NO" Title="@L["grid0.EAN13_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_NAME" Title="@L["grid0.SKU_NAME.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_DESC" Title="@L["grid0.SKU_DESC.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_BRAND" Title="@L["grid0.SKU_BRAND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_CAT" Title="@L["grid0.SKU_CAT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_TYPE" Title="@L["grid0.SKU_TYPE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_INDUSTRY" Title="@L["grid0.SKU_INDUSTRY.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_GROUP" Title="@L["grid0.SKU_GROUP.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_GROSS_WEIGHT" Title="@L["grid0.SKU_GROSS_WEIGHT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_NET_WEIGHT" Title="@L["grid0.SKU_NET_WEIGHT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_WEIGHT_UNIT" Title="@L["grid0.SKU_WEIGHT_UNIT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_VOLUME" Title="@L["grid0.SKU_VOLUME.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_VOLUME_UNIT" Title="@L["grid0.SKU_VOLUME_UNIT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="GTIN_NO" Title="@L["grid0.GTIN_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="GTIN_CAT" Title="@L["grid0.GTIN_CAT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_LENGTH" Title="@L["grid0.SKU_LENGTH.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_WIDTH" Title="@L["grid0.SKU_WIDTH.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_HEIGHT" Title="@L["grid0.SKU_HEIGHT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_DIM_UNIT" Title="@L["grid0.SKU_DIM_UNIT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_UNIT" Title="@L["grid0.SKU_UNIT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_BATCH" Title="@L["grid0.SKU_BATCH.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_LOC_SIZE" Title="@L["grid0.SKU_LOC_SIZE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_LOC_HOT" Title="@L["grid0.SKU_LOC_HOT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="MIN_SHELF_LIFE" Title="@L["grid0.MIN_SHELF_LIFE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="MAX_SHELF_LIFE" Title="@L["grid0.MAX_SHELF_LIFE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="VALID_DATE_FROM" Title="@L["grid0.VALID_DATE_FROM.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="VALID_DATE_TO" Title="@L["grid0.VALID_DATE_TO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_BLOCKED" Title="@L["grid0.SKU_BLOCKED.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SKU_SNO_IND" Title="@L["grid0.SKU_SNO_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="OLD_SKU_NO" Title="@L["grid0.OLD_SKU_NO.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="STGE_CONDITION" Title="@L["grid0.STGE_CONDITION.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="CAT_GROUP" Title="@L["grid0.CAT_GROUP.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="TP_GROUP" Title="@L["grid0.TP_GROUP.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="DIVISION" Title="@L["grid0.DIVISION.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="LABEL_TYPE" Title="@L["grid0.LABEL_TYPE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="LABEL_FORM" Title="@L["grid0.LABEL_FORM.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SOURCE_SUPPLY" Title="@L["grid0.SOURCE_SUPPLY.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SEASON" Title="@L["grid0.SEASON.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="PRODUCT_HIERACHY" Title="@L["grid0.PRODUCT_HIERACHY.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="CAD_IND" Title="@L["grid0.CAD_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="XSITE_STS" Title="@L["grid0.XSITE_STS.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="XDISTR_STS" Title="@L["grid0.XDISTR_STS.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="XSITE_DATE" Title="@L["grid0.XSITE_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="XDISTR_DATE" Title="@L["grid0.XDISTR_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="TAX_CLASSIFICATION" Title="@L["grid0.TAX_CLASSIFICATION.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="CONTENT_UNIT" Title="@L["grid0.CONTENT_UNIT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="NET_CONTENT" Title="@L["grid0.NET_CONTENT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="COMPARISON_PRICE" Title="@L["grid0.COMPARISON_PRICE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="GROSS_CONTENT" Title="@L["grid0.GROSS_CONTENT.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="DANGEROUS_IND" Title="@L["grid0.DANGEROUS_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="BATCH_IND" Title="@L["grid0.BATCH_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="PERIOD_SLED" Title="@L["grid0.PERIOD_SLED.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="ROUND_SLED" Title="@L["grid0.ROUND_SLED.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="ASSOR_TYPE" Title="@L["grid0.ASSOR_TYPE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="WH_SKU_GROUP" Title="@L["grid0.WH_SKU_GROUP.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="COUNTRY" Title="@L["grid0.COUNTRY.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="LOAD_UNIT_GROUP" Title="@L["grid0.LOAD_UNIT_GROUP.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="FREE_CHAR" Title="@L["grid0.FREE_CHAR.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="ZMATERIAL" Title="@L["grid0.ZMATERIAL.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="XPLANT_STS" Title="@L["grid0.XPLANT_STS.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="SOURCE" Title="@L["grid0.SOURCE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="APPROVE_IND" Title="@L["grid0.APPROVE_IND.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="REMARK" Title="@L["grid0.REMARK.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="TRN_USER" Title="@L["grid0.TRN_USER.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="TRN_DATE" Title="@L["grid0.TRN_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="CRT_USER" Title="@L["grid0.CRT_USER.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="CRT_DATE" Title="@L["grid0.CRT_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="LOG_DATE" Title="@L["grid0.LOG_DATE.Title"]">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.SkuMstHi" Property="LOG_USER" Title="@L["grid0.LOG_USER.Title"]">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
