@layout MainLayout
@inherits RadzenDh5.Pages.ViewTranslateComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="RadzenDh5.Models.Mark10Sqlexpress04.Translate" Data="@translate" Visible="@(translate != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel   Text=@Lang("EN_TEXT")  Component="EN_TEXT" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="250" style="display: block; width: 100%" @bind-Value="@(translate.EN_TEXT)" Name="EN_TEXT"> 
                </RadzenTextBox>
                <RadzenRequiredValidator Component="EN_TEXT" Text="EN_TEXT is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel  Text=@Lang("TW_TEXT")  Component="TW_TEXT" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="250" style="width: 100%" @bind-Value="@(translate.TW_TEXT)" Name="TW_TEXT"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel  Text=@Lang("CN_TEXT")  Component="CN_TEXT" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="250" style="width: 100%" @bind-Value="@(translate.CN_TEXT)" Name="CN_TEXT"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel  Text=@Lang("TH_TEXT")  Component="TH_TEXT" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="250" style="width: 100%" @bind-Value="@(translate.TH_TEXT)" Name="TH_TEXT"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel   Text=@Lang("VN_TEXT")  Component="VN_TEXT" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
<RadzenTextBox  ReadOnly="true" MaxLength="250" style="width: 100%" @bind-Value="@(translate.VN_TEXT)" Name="VN_TEXT"> 
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@Lang("TEXT")  Component="TEXT" style="width: 100%"> 
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%; background-color:lightgray" @bind-Value="@(translate.TEXT)" Name="TEXT" ReadOnly="true">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TEXT" Text="TEXT is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-md-3">
<RadzenButton Text="OK" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
