
@layout MainLayout
@inherits RadzenDh5.Pages.Vr030SComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> L



<DhAppHeadingAuthMsgOpt IsShowAuth=@IsShowAuth  AuthMsg="@AuthMsg" Culture="@Culture" DhUser="@DhUser" DhUsername="@DhUsername"
                 PROG_ID="@PROG_ID" PROG_NAME_BY_CULTURE="@PROG_NAME_BY_CULTURE"
                 progWrt="@progWrt" progMst="@progMst" GoodMsg="@GoodMsg" ErrMsg="@ErrMsg" />
<div class="row">
    <RadzenButton style="margin-bottom: 10px;margin-left:12px" Text=@Lang("Query") Click="@ButtonQueryClick" />
    <RadzenButton style="margin-bottom: 10px;margin-left:12px" Text=@Lang("Refresh") Click="@ButtonRefreshClick" />
    <RadzenButton  style="margin-bottom: 10px;margin-left:12px" ButtonType="ButtonType.Submit" Disabled="@IsExportDisable"  Text=@Lang("Export") ButtonStyle="ButtonStyle.Primary" Click="@ButtonExportClick" />
</div>

<div class="row">
    <div class="col-md-4">
        <span> <RadzenLabel Text="DATE FROM. " /></span>
        <span style="margin-left:8px">
            <input @bind="@dateFrom" @bind:format="yyyy-MM-dd" Name="txtDateFrom" size="10" maxlength="10" />
        </span>

    </div>
    <div class="col-md-4">
        <span> <RadzenLabel Text="DATE TO. " /></span>
        <span style="margin-left:8px">
            <input @bind="@dateTo" @bind:format="yyyy-MM-dd" Name="txtDateTo" size="10" maxlength="10" />
        </span>


    </div>




</div>


<div class="row">

    <div class="col-md-12">
        @if (ErrMsg != null && ErrMsg != "")
        {
<div class="alert alert-danger" role="alert">
    @ErrMsg
</div>}
    </div>
</div>


<RadzenGrid ColumnWidth="125px" AllowColumnResize="true" PagerPosition="PagerPosition.Top"
            AllowFiltering="false" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="false"
            Data="@getVr030sResult" TItem="RadzenDh5.Models.Mark10Sqlexpress04.Vr030">
    <Columns>
        @*<RadzenGridColumn Width="50px" TItem="Vr030" Title="" Filterable="false" Sortable="false" TextAlign="TextAlign.Center"> 
                <Template>
                    @(getVr030sResult.IndexOf(context)+1)
                </Template>
            </RadzenGridColumn>*@
        <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.Vr030" Property="TRN_DATE" Title=@Lang("TRN_DATE")> 
        </RadzenGridColumn>
        <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.Vr030" Property="SKU_NO" Title=@Lang("SKU_NO")> 
        </RadzenGridColumn>
        <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.Vr030" Property="SKU_DESC" Title=@Lang("SKU_DESC")> 
        </RadzenGridColumn>
        <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.Vr030" Property="DATE_CODE" Title=@Lang("DATE_CODE")> 
        </RadzenGridColumn>
        <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.Vr030" Property="EXPIRE_DATE" Title=@Lang("EXPIRE_DATE")> 
        </RadzenGridColumn>
        <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.Vr030" Property="BATCH_NO" Title=@Lang("BATCH_NO")> 
        </RadzenGridColumn>
        <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.Vr030" Property="IN_SNO" Title=@Lang("IN_SNO")> 
        </RadzenGridColumn>
        <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.Vr030" Property="RCV_QTY" Title=@Lang("RCV_QTY")> 
        </RadzenGridColumn>
        <RadzenGridColumn TItem="RadzenDh5.Models.Mark10Sqlexpress04.Vr030" Property="SKU_UNIT" Title=@Lang("SKU_UNIT")> 
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
